<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appName}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <header class="mb-5">
        <h1 th:text="${appName}"></h1>
    </header>
</div>

<div class="container w-50">
    <h4>Add Song</h4>
    <form action="/songs/add" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control w-50" name="name">
        </div>
        <div class="form-group">
            <label class="form-check-label">Artists:</label> <br>
            <input type="checkbox" name="artists"
                   th:each="artist: ${artists}" th:value="${artist.id}" th:text="${artist.name}"/>
        </div>
        <div class="form-group">
            <label>Load file:</label>
            <input name="file" type="file" accept=".mp3,audio/*">
        </div>
    <button type="submit" class="btn btn-primary">Add</button>
    <button type="reset" class="btn btn-primary">Clear</button>
    </form>
</div>

<div class="container">
    <h4>Added posts</h4>
    <table border="1px">
        <tr th:each="post: ${posts}">
            <td th:text="${post.id}"></td>
            <td th:text="${post.description}"></td>
            <td th:text="${post.songs}"></td>
            <td><form action="posts/delete/" method="post">
                <input name="id" type="hidden" th:value="${post.id}">
                <button type="submit">Delete</button>
            </form></td>
        </tr>
    </table>
</div>

<div class="container">
    <h4>Added songs</h4>
    <table border="1px">
        <tr th:each="song: ${songs}">
            <td th:text="${song.id}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.artists}"></td>
            <input type="hidden" th:value="${song.location}">
            <td><audio controls th:src="${song.location}"></audio></td>
            <td><form action="songs/delete/" method="post">
                <input name="id" type="hidden" th:value="${song.id}">
                <button type="submit">Delete</button>
            </form></td>
        </tr>
    </table>
</div>

<div class="container">
    <h4>Added artists</h4>
    <table border="1px">
        <tr th:each="artist: ${artists}">
            <td th:text="${artist.id}"></td>
            <td th:text="${artist.name}"></td>
            <td th:text="${artist.songs}"></td>
            <td><form action="artists/delete/" method="post">
                <input name="id" type="hidden" th:value="${artist.id}">
                <input name="artistToString" type="hidden" th:value="${artist.toString()}">
                <button type="submit">Delete</button>
            </form></td>
        </tr>
    </table>
</div>

</body>
</html>