<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${appName}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div th:replace="header :: header"></div>

    <main class="container">

        <div class="my-3 p-3 bg-body rounded shadow">
            <h2 class="border-bottom pb-2 mb-0">
                <a class="dropdown-item" th:href="'/users/'+${currentUser.username}" th:text="'@'+${currentUser.username}"></a>
            </h2>

            <a class="dropdown-item mt-3" th:href="'/users/'+${currentUser.username}+'/followers'">
                <h4 class="pb-2 mb-0" th:text="'Followers - ' + ${currentUser.getFollowers().size()}"></h4>
            </a>
            <a class="dropdown-item" th:href="'/users/'+${currentUser.username}+'/following'">
                <h4 class="pb-2 mb-0" th:text="'Following - ' + ${currentUser.getFollowing().size()}"></h4>
            </a>
            <a class="dropdown-item" th:href="'/posts/'+${currentUser.username}">
                <h4 class="pb-2 mb-0" th:text="'Posts - ' + ${currentUser.getPosts().size()}"></h4>
            </a>

            <form id="toggleFollowForm" th:if="${!currentUser.username.equals(currentUser.username)}"
                  th:action="'/users/'+${currentUser.username}+'/toggleFollow'" method="post">
                <button type="submit" id="toggleFollowBtn"
                        th:class="${currentUser.getFollowing().contains(currentUser)} ? 'btn btn-outline-secondary'
                        : 'btn btn-primary' "
                th:text="${currentUser.getFollowing().contains(currentUser)} ? 'Unfollow'
                : 'Follow' "></button>
            </form>

            <div class="my-3 p-3 bg-body rounded shadow"
                 th:each="post : ${currentUser.posts}" >
                <h2 class="border-bottom pb-2 mb-0">
                    <a class="dropdown-item" th:href="'/users/'+${post.getAppUser().getUsername()}" th:text="'@'+${post.getAppUser().getUsername()}"></a>
                </h2>
                <textarea class="form-control" readonly th:text="${post.description}"></textarea>
                <div class="d-flex text-muted mb-3" th:each="song: ${post.songs}">
                    <div class="container">
                        <p class="pb-3 pt-3 mb-0 small lh-sm border-top">
                            <strong class="text-gray-dark" th:text="${song.title}"></strong>
                            <strong class="text-gray-dark" th:if="${song.artists.size() > 0}"> - </strong>
                            <strong class="text-gray-dark" th:each="artist : ${song.artists}">
                                <a th:href="'/artists/' + ${artist.getId()}"
                                   th:text="${artist.getName()}"></a>
                                <strong class="text-gray-dark" th:if="${song.artists.indexOf(artist)} != ${song.artists.size() - 1}">, </strong>
                            </strong>
                        </p>
                        <audio controls
                               th:src="'../../'+${song.location}"></audio>
                    </div>
                </div>
                <p th:text="${post.date}"></p>

                <div class="text-end">
                    <form action="../posts/delete/" method="post">
                        <input name="id" type="hidden" th:value="${post.id}">
                        <button class="btn btn-outline-secondary" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>


    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>